<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> SIWFestival - Lista dei Registi (Admin)</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <a href="#" onclick="history.back(); return false;">← Torna indietro</a>

    <div>
        <ul>
            <li th:each="regista : ${registiList}">
                <a th:href="@{'/registi/' + ${regista.id}}"
                    th:text="${regista.nome} + ' ' + ${regista.cognome}">Francesco Cilurzo</a>
                <a th:href="@{'/admin/registi/' + ${regista.id} + '/edit'}">
                    <button type="submit">Modifica</button>
                </a>
            </li>
        </ul>
    </div>

    <a th:href="@{/admin/registi/new}">Nuovo regista</a>
</body>

</html>