<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${sala.nome} + ' - Dettagli'">Sala Placeholder - Dettagli (Admin)</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <a href="#" onclick="history.back(); return false;">← Torna indietro</a>

    <h1 th:text="${sala.nome}">Sala Placeholder</h1>

    <h3 th:text="${sala.indirizzo}">Via Calabria 67, Lamezia Terme</h3>

    <h3 th:text="${sala.capienza}">420</h3>

</body>

</html>