<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${festival.nome} + ' ' + ${festival.anno} + ' - Dettagli'">Lorem Ipsum Film Festival 2025 - Dettagli
    </title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <h3>
        <a href="/">Torna alla homepage</a>
    </h3>

    <h1 th:text="${festival.nome} + ' ' + ${festival.anno}">Lorem Ipsum Film Festival 2025</h1>

    <h2
        th:text="${festival.citta} + ', ' + ${#temporals.format(festival.dataInizio, 'dd/MM/yyyy')} + ' - ' + ${#temporals.format(festival.dataFine, 'dd/MM/yyyy')}">
        Milano, 01/01/2025 - 08/01/2025
    </h2>

    <span th:text="${festival.descrizione}"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        consequat mi quis pretium semper.</span>

    <h2> Tutti i film in concorso: </h2>
    <div>
        <ul>
            <li th:each="film : ${filmList}">
                <a th:href="@{'/film/' + ${film.id}}" th:text="${film.titolo}">Inception</a>
            </li>
        </ul>
    </div>

    <h2>Programma delle proiezioni: </h2>
    <table>
        <tr>
            <td>Data</td>
            <td>Ora</td>
            <td>Film</td>
            <td>Sala</td>
            <td>Indirizzo</td>
        </tr>
        <tr th:each="proiezione : ${proiezioniList}">
            <td th:text="${#temporals.format(proiezione.data, 'dd/MM/yyyy')}">20/02/2025</td>
            <td th:text="${proiezione.ora}">15:18</td>
            <td th:text="${proiezione.film.titolo}">Inception</td>
            <td th:text="${proiezione.sala.nome}">Cinema Cadrega</td>
            <td th:text="${proiezione.sala.indirizzo}">Via Subaru 1, Milano</td>
        </tr>
    </table>

</body>

</html>