<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> SIWFestival - Home </title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <h1>
        <a href="/festival">Lista dei Festival</a>
    </h1>

    <h1>
        <a href="/react/index.html">Cerca un Film</a>
    </h1>

    <h2 th:if="${userDetails == null}">
        <a href="/login">Effettua il Login</a>
    </h2>

    <h2 th:if="${userDetails == null}">
        <a href="/register">Registrati</a>
    </h2>

    <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <form th:action="@{/logout}" method="POST" style="display:inline;">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <a href="/admin">Console da amministratore</a>
    </div>
</body>

</html>