<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> SIWFestival - Nuovo Festival </title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <h3>
        <a href="/">Torna alla homepage</a>
    </h3>

    <h1>Nuovo Festival</h1>

    <form th:action="@{/admin/festival/new}" method="POST" th:object="${festival}">

        <p th:if="${errore}" th:text="${errore}" style="color:red;">Errore</p>

        <div>
            Nome: <span><input type="text" th:field="*{nome}" /></span>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error-message"></span>
        </div>
        <div>
            Anno: <span><input type="text" th:field="*{anno}" /></span>
            <span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}" class="error-message"></span>
        </div>
        <div>
            Città: <span><input type="text" th:field="*{citta}" /></span>
            <span th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}" class="error-message"></span>
        </div>
        <div>
            Data inizio: <span><input type="date" th:field="*{dataInizio}" /></span>
            <span th:if="${#fields.hasErrors('dataInizio')}" th:errors="*{dataInizio}" class="error-message"></span>
        </div>
        <div>
            Data fine: <span><input type="date" th:field="*{dataFine}" /></span>
            <span th:if="${#fields.hasErrors('dataFine')}" th:errors="*{dataFine}" class="error-message"></span>
        </div>
        <div>
            Descrizione: <span><input type="text" th:field="*{descrizione}" /></span>
            <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" class="error-message"></span>
        </div>
        <div>
            <button type="submit">Salva</button>
        </div>
    </form>
</body>

</html>