<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> SIWFestival - Lista dei Festival (Admin)</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <h3>
        <a href="/">Torna alla homepage</a>
    </h3>

    <div>
        <ul>
            <li th:each="festival : ${festivalList}">
                <a th:href="@{'/admin/festival/' + ${festival.id}}" th:text="${festival.nome} + ' ' + ${festival.anno}">Festival placeholder 2005</a>
                <a th:href="@{'/admin/festival/' + ${festival.id} + '/edit'}">
                    <button type="submit">Modifica</button>
                </a>
            </li>
        </ul>
    </div>

    <a th:href="@{/admin/festival/new}">Nuovo Festival</a>
</body>

</html>