<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${film.titolo} + ' - Nuova Recensione'">Nuova Recensione</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <h3>
        <a href="/">Torna alla homepage</a>
    </h3>

    <h1>Aggiungi una recensione</h1>
    <form th:action="@{/film/{id}/recensioni/new(id=${film.id})}" method="POST" th:object="${recensione}">

        <div>
            <label for="voto">Voto (da 1 a 10):</label>
            <select id="voto" th:field="*{voto}">
                <option value="">-- Seleziona un voto --</option>
                <option th:each="i : ${#numbers.sequence(1, 10)}" 
                        th:value="${i}" 
                        th:text="${i}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}">Errore Voto</span>
        </div>

        <div>
            <label for="testo">Testo:</label>
            <input id="testo" required type="text" th:field="*{testo}" />
            <span th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}">Errore Testo</span>
        </div>

        <span><button type="submit">Salva</button></span>

    </form>

</body>

</html>