<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/stile.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>frontend</title>
</head>

<body>
  <nav class="siw-navbar">
    <div class="siw-navbar-container">
      <a th:href="@{/}" class="siw-navbar-brand">SIW Festival</a>

      <ul class="siw-navbar-links">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/festival}">Festival</a></li>
        <li><a th:href="@{/react/index.html}">Cerca film</a></li>
      </ul>
    </div>
  </nav>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
</body>

</html>