<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${festival.nome} + ' ' + ${festival.anno} + ' - Programmazione'">Lorem Ipsum Film Festival 2025 -
        Programmazione
    </title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body>
    <h3>
        <a href="/">Torna alla homepage</a>
    </h3>

    <table>
        <tr>
            <td>Data</td>
            <td>Ora</td>
            <td>Film</td>
            <td>Sala</td>
            <td>Indirizzo</td>
        </tr>
        <tr th:each="proiezione : ${proiezioniList}">
            <td th:text="${#temporals.format(proiezione.data, 'dd/MM/yyyy')}">20/02/2025</td>
            <td th:text="${proiezione.ora}">15:18</td>
            <td>
                <a th:href="@{'/film/' + ${proiezione.film.id}}" th:text="${proiezione.film.titolo}">Inception</a>
            </td>
            <td th:text="${proiezione.sala.nome}">Cinema Cadrega</td>
            <td th:text="${proiezione.sala.indirizzo}">Via Subaru 1, Milano</td>
        </tr>
    </table>
</body>

</html>