<!doctype html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/stile.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cerca Film</title>
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <div class="page-container">
    <a href="#" onclick="history.back(); return false;" class="mb-2" style="display:inline-block;">← Torna indietro</a>
    <h1 class="page-title">Cerca un film</h1>
    <div id="root"></div>
  </div>

  <script type="module" crossorigin th:src="@{/react/assets/index.js}"></script>
</body>

</html>