<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${film.titolo} + ' - Dettagli'">Tre uomini e una gamba - Dettagli</title>
    <link rel="stylesheet" href="css/stile.css">
</head>

<body>
    <h3>
        <a href="/">Torna alla homepage</a>
    </h3>

    <h1 th:text="${film.titolo} + ' (' + ${film.anno} + ')'">Tre uomini e una gamba (1997)</h1>

    <h3>
        <a th:href="@{'/registi/' + ${regista.id}}"
            th:text="'Regista: ' + ${regista.nome} + ' ' + ${regista.cognome}">Regista: Massimo Venier</a>
    </h3>

    <h3 th:text="'Genere: ' + ${film.genere}">Genere: Commedia</h3>

    <h2>Festival: </h2>
    <ul>
        <li th:each="festival : ${festivalList}">
            <a th:href="@{'/festival/' + ${festival.id}}" th:text="${festival.nome}">AGG Film Festival</a>
        </li>
    </ul>

    <h2>Proiezioni: </h2>
    <table>
        <tr>
            <td>Data</td>
            <td>Ora</td>
            <td>Festival</td>
            <td>Sala</td>
            <td>Indirizzo</td>
        </tr>
        <tr th:each="proiezione : ${proiezioniList}">
            <td th:text="${#temporals.format(proiezione.data, 'dd/MM/yyyy')}">20/02/2025</td>
            <td th:text="${proiezione.ora}">15:18</td>
            <td th:text="${proiezione.festival.nome}">AGG Film Festival</td>
            <td th:text="${proiezione.sala.nome}">Cinema Cadrega</td>
            <td th:text="${proiezione.sala.indirizzo}">Via Subaru 1, Milano</td>
        </tr>
    </table>

    <h2>Recensioni: </h2>
    <ul>
        <li th:each="recensione : ${recensioniList}">
            <strong
                th:text="${recensione.utente.name} + ' ' + ${recensione.utente.surname} + ', ' + ${#temporals.format(recensione.data, 'dd/MM/yyyy')} + ': '">Mario
                Rossi, 28/02/2025 </strong>
            <span th:text="${recensione.testo}">Letsgosky Lesgooo</span>
            <span th:text="${recensione.voto}">10</span>
            <span sec:authorize="isAuthenticated()"
                th:if="${recensione.utente.credentials != null and recensione.utente.credentials.username == #authentication.name}">
                <a th:href="@{'/film/' + ${film.id} + '/recensioni/' + ${recensione.id} + '/edit'}">
                    <button type="button">Modifica</button>
                </a>
            </span>
        </li>
    </ul>
    <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
        <a th:href="@{'/film/' + ${film.id} + '/recensioni/new'}"> Scrivi una recensione</a>
    </div>

</body>

</html>